<%- layout('layouts/main.ejs') %>
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>signin</h3>
            </div>
            <div class="card-body">
                <form action="/signin" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="enter your email" autofocus required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="enter your password" required>
                    </div>
                    <button class="btn btn-primary">Enter</button>
                </form>
            </div>
        </div>
    </div>
</div>
